.wooden-door {
  border-right: 3px ridge rgb(0, 0, 0);
  background-color: rgb(202, 148, 49);
  position: absolute;
  top: 4px;
  left: 4px;
  width: 30%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* for open door */
  transition:transform 2s;
  transform-origin: left;
}

/* inner panels */
.top,
.bottom {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.top {
  height: 40%;
}

.bottom {
  height: 60%;
}

.inner-panel {
  border: 1px solid black;
  margin: auto;
}

.top .inner-panel {
  width: 40%;
  height: 70%;
}

.bottom .inner-panel {
  width: 40%;
  height: 90%;
}

/* open door */
.open-door{
  transform:rotateY(150deg);
}

/* resizing */
@media only screen and (max-width: 1000px) {
  .wooden-door {
    width: 40%;
    height: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .wooden-door {
    width: 50%;
    height: 90vh;
  }
}

@media only screen and (max-width: 550px) {
  .wooden-door {
    width: 65%;
    height: 90vh;
  }
}

@media only screen and (max-width: 400px) {
  .wooden-door {
    width: 98%;
    height: 90vh;
  }
}
